{% extends 'base.html.twig' %}

{% block title %}Create new storage{% endblock %}

{% block body %}

    {% include 'nav/nav.html.twig' %}

    {{ form_start(form, {attr: {'class': 'bg-light col-3 position-absolute top-50 start-50 translate-middle d-flex flex-column gap-3 p-5 shadow rounded-3'}}) }}
    <h1 class="h2 mb-3 font-weight-normal">{{ title }}</h1>
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_end(form) }}
{% endblock %}
