<div class="m-0 p-0 fixed-top" style="width: 10%">
    <div class="m-0 p-0">
        <div class="col-sm-auto bg-light sticky-top p-0 min-vh-100 shadow d-flex flex-column bg-light align-items-center justify-content-between">
            <div class="d-flex flex-column bg-light align-items-center justify-content-center">
                <ul class="nav nav-pills nav-flush flex-column mx-auto text-center align-items-center">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('create_storage') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="create-storage">
                            <i class="fa-solid fa-warehouse h4"></i><p class="m-0">Stwórz magazyn</p>
                        </a>
                    </li>
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('storage_list') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="storages-list">
                            <i class="fa-solid fa-list-ul h4 m-0"></i><p class="m-0">Lista magazynów</p>
                        </a>
                    </li>
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('app_register') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="register-user">
                            <i class="fa-solid fa-user-plus h4 m-0"></i><p class="m-0">Stwórz użytkownika</p>
                        </a>
                    </li>
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('users_list') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="users-list">
                            <i class="fa-regular fa-rectangle-list h4 m-0"></i><p class="m-0">Lista użytkowników</p>
                        </a>
                    </li>
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('create_article') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="create-article">
                            <i class="fa-solid fa-square-plus h4 m-0"></i><p class="m-0">Stwórz artykuł</p>
                        </a>
                    </li>
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('articles_list') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="articles-list">
                            <i class="fa-solid fa-list-check h4 m-0"></i><p class="m-0">Lista artykułów</p>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('entry_article') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="entry-article">
                            <i class="fa-solid fa-cart-plus h4 m-0"></i><p class="m-0">Przyjmij artykuł</p>
                        </a>
                    </li>
                    <li class="nav-item flex-column w-100 py-2">
                        <a href="{{ path('release_article') }}" class="nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="release-article">
                            <i class="fa-solid fa-cart-shopping h4 m-0"></i><p class="m-0">Wydaj artykuł</p>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="d-flex flex-column bg-light align-items-center justify-content-center w-100">
                <ul class="nav nav-pills nav-flush flex-column mx-auto text-center align-items-center w-100">
                    <li class="li-without-hover"><i class="fa-solid fa-user pb-3"></i>{% if app.user %} {{ app.user.userIdentifier }} {% endif %}</li>
                    <li class="nav-item flex-column w-100">
                        <a href="{{ path('app_logout') }}" class="logout w-100 nav-link text-dark" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="create-storage">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i><p>Wyloguj</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>